<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="assets/images/logo-16x16.png" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Argon - Social Network</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Styles -->
    <link th:href="@{/css/User/Message/MessageMobile.css}" rel="stylesheet">
</head>
<body>
    <div class="row message-right-side-content">
        <div class="col-md-12">
            <div id="message-frame">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 messenger-top-section">
                            <div class="contact-profile d-flex align-items-center justify-content-between">
                                <div class="messenger-top-luser df-aic">
                                    <img th:src="@{/images/users/user-2.jpg}" class="messenger-user" alt="Convarsation user image" />
                                    <a href="#" class="message-profile-name" th:text="${userTo.firstName} + ${userTo.lastName}"></a>
                                </div>
                                <div class="social-media messenger-top-ricon df-aic">
                                    <img th:src="@{/images/messenger/phone.png}" data-toggle="modal" data-target="#callModal" class="msg-top-more-info" alt="Messenger icons">
                                    <img th:src="@{/images/messenger/videocam.png}" class="msg-top-more-info" alt="Messenger icons">
                                    <img th:src="@{/images/messenger/info.png}" class="msg-top-more-info" alt="Messenger icons">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="max-height: 532px;">
                            <div class="messages">
                                <ul class="messages-content">
                                    <li th:each="message : ${messages}" 
                                        th:class="${message.userFrom.id} == ${currentUser.id} ? 'message-reply' : 'message-receive'">
                                        <img th:if="${message.userFrom.id} != ${currentUser.id}" 
                                        th:src="@{/images/users/user-1.jpg}" alt="Conversation user image" />
                                        <p th:text="${message.content}"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="message-input">
                                <div class="wrap">
                                    <form class="d-inline form-inline">
                                        <div class="d-flex align-items-center justify-content-between messenger-icons">
                                            <div class="input-group messenger-input">
                                                <input type="text" class="form-control search-input" placeholder="Type a message..." aria-label="Type a message..." aria-describedby="button-addon2">
                                            </div>
                                            <button type="button" class="btn search-button" id="send-message">
                                                <img th:src="@{/images/messenger/m-send.png}" alt="Messenger icons">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>