#message-frame {
    width: 100%;
    min-width: 360px;
    max-width: 100%;
    height: 93.5vh;
    min-height: 300px;
    max-height: 100%
}

#message-frame .message-sidepanel {
    float: left;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #5d5c60;
    overflow: hidden;
    position: relative
}

#message-frame .message-sidepanel .message-profile {
    width: 80%;
    margin: 25px auto
}

#message-frame .message-sidepanel .message-profile.expanded .wrap {
    height: 210px;
    line-height: initial
}

#message-frame .message-sidepanel .message-profile.expanded .wrap p {
    margin-top: 20px
}

#message-frame .message-sidepanel .message-profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: FlipH
}

#message-frame .message-sidepanel .message-profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: .3s height ease;
    -o-transition: .3s height ease;
    -webkit-transition: .3s height ease;
    transition: .3s height ease
}

#message-frame .message-sidepanel .message-profile .wrap img {
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #e74c3c;
    height: auto;
    float: left;
    cursor: pointer;
    -moz-transition: .3s border ease;
    -o-transition: .3s border ease;
    -webkit-transition: .3s border ease;
    transition: .3s border ease
}

#message-frame .message-sidepanel .message-profile .wrap img.online {
    border: 2px solid #2ecc71
}

#message-frame .message-sidepanel .message-profile .wrap img.away {
    border: 2px solid #f1c40f
}

#message-frame .message-sidepanel .message-profile .wrap img.busy {
    border: 2px solid #e74c3c
}

#message-frame .message-sidepanel .message-profile .wrap img.offline {
    border: 2px solid #95a5a6
}

#message-frame .message-sidepanel .message-profile .wrap p {
    float: left;
    margin-left: 15px
}

#message-frame .message-sidepanel .message-profile .wrap i.expand-button {
    float: right;
    margin-top: 15px;
    font-size: 2em;
    cursor: pointer;
    color: #435f7a
}

#message-frame .message-sidepanel .message-profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background-color: #007bff;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

#message-frame .message-sidepanel .message-profile .wrap #status-options.messenger-user-active {
    opacity: 1;
    visibility: visible;
    margin: 75px 0 0 0
}

#message-frame .message-sidepanel .message-profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #007bff;
    margin: -8px 0 0 24px
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li {
    padding: 15px 0 30px 18px;
    display: block;
    cursor: pointer
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li:hover {
    background: #f1f1f1;
    color: #343a40
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0
}
#message-frame .message-sidepanel .message-profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: 0 0;
    border-radius: 50%;
    z-index: 0
}
#message-frame .message-sidepanel .message-profile .wrap #status-options ul li p {
    padding-left: 12px
}
#message-frame .message-sidepanel .message-profile .wrap #status-options ul li#status-online span.status-circle {
    background: #2ecc71
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li#status-online.messenger-user-active span.status-circle:before {
    border: 1px solid #2ecc71
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li#status-away span.status-circle {
    background: #f1c40f
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li#status-away.messenger-user-active span.status-circle:before {
    border: 1px solid #f1c40f
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li#status-busy span.status-circle {
    background: #e74c3c
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li#status-busy.messenger-user-active span.status-circle:before {
    border: 1px solid #e74c3c
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6
}

#message-frame .message-sidepanel .message-profile .wrap #status-options ul li#status-offline.messenger-user-active span.status-circle:before {
    border: 1px solid #95a5a6
}

#message-frame .message-sidepanel .message-profile .wrap #expanded {
    padding: 70px 0 0 0;
    display: block;
    line-height: initial !important
}

#message-frame .message-sidepanel .message-profile .wrap #expanded .list-group-item {
    padding: .4rem .5rem;
    border: 0
}

#message-frame .message-sidepanel .message-search label {
    position: absolute;
    margin: 8px 0 0 10px;
    font-size: 1.2rem
}

#message-frame .message-sidepanel .message-search input {
    padding: 10px 0 10px 46px;
    width: 100%;
    border: none
}

#message-frame .message-sidepanel .message-contacts {
    max-height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden
}
#message-frame .message-sidepanel .message-contacts.expanded {
    height: calc(100% - 334px)
}

#message-frame .message-sidepanel .message-contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: .9em;
    cursor: pointer
}
#message-frame .message-sidepanel .message-contacts ul li.contact:hover {
    background: #f1f1f1
}

#message-frame .message-sidepanel .message-contacts ul li.contact.messenger-user-active {
    color: #5d5c60;
    background: #f1f1f1;
    border-left: 4px solid #007bff
}

#message-frame .message-sidepanel .message-contacts ul li.contact.messenger-user-active span.contact-status {
    border: 1.5px solid #fff !important
}

#message-frame .message-sidepanel .message-contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative
}

#message-frame .message-sidepanel .message-contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    background: #95a5a6
}

#message-frame .message-sidepanel .message-contacts ul li.contact .wrap span.online {
    background: #2ecc71
}

#message-frame .message-sidepanel .message-contacts ul li.contact .wrap span.away {
    background: #f1c40f
}

#message-frame .message-sidepanel .message-contacts ul li.contact .wrap span.busy {
    background: #e74c3c
}

#message-frame .message-sidepanel .message-contacts ul li.contact .wrap img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px
}

#message-frame .message-sidepanel .message-contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0
}
#message-frame .message-sidepanel .message-contacts ul li.contact .wrap .meta .name {
    font-weight: 600
}

#message-frame .message-sidepanel .message-contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease
}

#message-frame .message-sidepanel .message-contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: 0 0;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5
}

#message-frame .message-sidepanel .contacts-bottom {
    position: absolute;
    width: 100%;
    bottom: 0
}

#message-frame .content {
    float: right;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff
}

#message-frame .message-sidepanel .contacts-bottom button:focus {
    outline: 0
}

#message-frame .message-sidepanel .contacts-bottom button:nth-child(1) {
    border-right: 1px solid #2c3e50
}
#message-frame .message-sidepanel .contacts-bottom button:hover {
    background: #435f7a
}

#message-frame .message-sidepanel .contacts-bottom button i {
    margin-right: 3px;
    font-size: 1em
}
#message-frame .content .contact-profile .message-profile-name {
    line-height: 60px
}

#message-frame .content .contact-profile {
    width: 100%;
    height: 60px;
    background: #f5f5f5
}

#message-frame .content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 0px 10px;
}

#message-frame .content .contact-profile p {
    float: left
}

#message-frame .content .contact-profile .social-media {
    float: right
}

#message-frame .content .contact-profile .social-media i {
    font-size: 1.7rem;
    line-height: 2;
    color: #5d5c60;
    margin-left: 1rem;
    cursor: pointer
}

#message-frame .content .contact-profile .social-media i:hover {
    color: #007bff
}

#message-frame .content .messages {
    width: 100%;
    height: auto;
    max-height: 532px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0.5%;
}

#message-frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: 0 0
}

#message-frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3)
}

#message-frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    width: calc(100% - 25px);
    font-size: .9rem
}

#message-frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px
}

#message-frame .content .messages ul li.message-receive img {
    margin: 6px 8px 0 0
}

#message-frame .content .messages ul li.message-receive p {
    background-color: #e8e8e8;
    color: #000;
}

#message-frame .content .messages ul li.message-reply img {
    float: right;
    margin: 6px 0 0 8px
}

#message-frame .content .messages ul li.message-reply p {
    background: #007bff;
    color: #f5f5f5;
    float: right
}

#message-frame .content .messages ul li img {
    width: 30px;
    border-radius: 50%;
    float: left
}

#message-frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%
}

#send-message {
    font-size: 1.5rem;
    color: #007bff;
    background-color: white;
    border: none
}

.message-search .search-input {
    padding: 1.3rem 2.5rem !important;
    background-color: #f5f5f5
}

.message-input .search-input {
    padding: 1.5rem 2rem
}

#message-frame .content .message-input {
    background-color: #fff;
    width: 100%;
    z-index: 99;
    padding-bottom: 10px;
}

.flex-row{
    gap: 222px;
}

.messageContetFrame{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.messenger-top-section {
    height: 60px;
}

.messenger-input .search-button {
    color: #007bff;
    font-size: 1.4rem;
}
.messenger-icons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.messenger-icons img {
    width: 28px;
}

.messenger-top-ricon .msg-top-more-info {
    width: 25px !important;
}

.df-aic {
    display: flex;
    align-items: center;
}

#message-frame .content .message-input .wrap {
    position: relative
}

#message-frame .content .message-input .wrap .messenger-input {
    background-color: #e8e8e8;
    float: left;
    width: calc(100% - 90px);
    border-radius: 30px;
}

#message-frame .content .message-input .wrap .messenger-input input,
.messenger-input .search-button {
    border-radius: 30px;
    width: 88%;
    background-color: transparent;
    border: 0;
}

.unread-messages {
    position: absolute;
    left: 2rem !important;
    top: 1.6rem;
    margin: -2px 0 0 -2px;
    width: 18px !important;
    height: 18px !important;
    border-radius: 50%;
    border: 1.5px solid #fff;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-color: #007bff !important;
    font-size: .6rem
}

.navbar-nav {
    flex-direction: row;
    gap: 40px;
}
