<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/editprofile}" method="post" th:object="${userAboutForm}">
        <ul th:each="about, aboutStat : ${abouts}">
            <li>
                <input type="hidden" th:field="*{userAboutDTOs[__${aboutStat.index}__].aboutId}" th:value="${about.id}">
                <p th:text="${about.name}"></p>
                <input type="text" th:placeholder="${about.name}" th:field="*{userAboutDTOs[__${aboutStat.index}__].description}">
            </li>
        </ul>
        <button type="submit">Edit</button>
    </form>
</body>
</html>