.chat-window {
    bottom: 0;
    right: 15%;
    position: fixed;
    float: right;
    min-width: 380px;
    max-width: 380px;
}

.chat-window > div > .panel {
    border-radius: 5px 5px 0px 0px;
}

.icon_minim {
    padding: 2px 10px;
}

.msg_container_base {
    background-color: #fff;
    margin: 0px;
    padding: 0px 10px 10px;
    max-height: 300px;
    overflow-x: hidden;
}

.top-bar {
    background-color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid #f3f3f3;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}

.chat-popup .card-footer {
    background-color: #fff;
}

.top-bar,
.chat-popup .card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chatbox-user-img {
    border-radius: 50%;
    width: 30px;
}

.unread-messages {
    position: absolute;
    left: 2rem !important;
    top: 1.6rem;
    margin: -2px 0 0 -2px;
    width: 18px !important;
    height: 18px !important;
    border-radius: 50%;
    border: 1.5px solid #fff;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-color: red !important;
    font-size: .5rem
}

.dropdown-menu {
    display: none; /* Initially hide the dropdown menu */
}

.dropdown-menu.show {
    display: block; /* Show the dropdown menu when the 'show' class is added */
}


.messages {
    padding: 5px 10px;
    border-radius: 20px;
    max-width: 100%;
}

.message-reply {
    color: #f5f5f5;
}

.message-receive {
    background-color: #fff;
    color: #000;
}

.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.chat-inputs,
.message-box {
    padding: 0px !important;
}

.type-message:focus {
    outline: 0;
}

.chat-tools {
    width: 100%;
    display: flex;
    padding: 0px 1rem;
    justify-content: space-between;
}

.chat-tools .chatbox-tools-img {
    color: #444;
    width: 20px;
    padding: 0px 0px 10px 0px;
}
.chatbox-call {
    width: 18px;
    margin: 0 15px;
}

.chatbox-call:last-child {
    margin-right: 0px;
}
